.container{
	border: 3px solid yellow;
	position: relative;
}

nav{

	border: 3px solid red;
	position: absolute;
	left: 0;
	width: 200px;
}
section{

	border: 3px solid green;
	margin-left: 200px; 
}
footer{
	border: 3px solid black;
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	height: 70px;
	background-color: white;
}
body{
margin-top: 120px;
margin-bottom: 120px;

}